<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a101380.adfuritest">

    <!-- 広告取得の為にインターネットアクセス -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- ネットワーク接続判定 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- アドフリくんデバッグログ true : テストモード false :本番配信モード-->
    <meta-data
        android:name="adfurikun_test"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <activity android:name="com.glossomads.sdk.GlossomAdsFullScreen" android:configChanges="keyboardHidden|orientation|screenSize" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

    <activity
        android:name="jp.maio.sdk.android.AdFullscreenActivity"
        android:label="maiosdk" android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <intent-filter>
            <data android:scheme="jp.maio.sdk.android"/>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
    </activity>

</manifest>